html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

/*HEADER*/

.heading-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 25px;
}

header {
  background: linear-gradient(#0e0e0e, #0e0e0e),
    url(../images/header.png) no-repeat;
  background-blend-mode: saturation;
  background-size: cover;
  width: 100%;
  height: 208px;
  color: #fff;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.text-container > h1 {
  font-weight: 800;
  font-size: 42px;
}

.text-container > h2 {
  font-weight: 700;
  font-size: 14px;
}

.text-container > h2 > a {
  text-decoration: none;
  color: #fff;
}

.text-container > h2 > a:hover {
  color: yellow;
  cursor: pointer;
}

/*MOVIE PICKS SECTIONS*/
.section-picks {
  display: flex;
  justify-content: center;
  background: #121212;
  color: #2e2e2f;
  height: 100vh;
}

#movie-picks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-watchlist {
  color: #787878;
  font-weight: 700;
}

.add-movies {
  display: flex;
  align-items: center;
  color: #fff;
}

.add-movies > img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.add-movies > h3 > a {
  text-decoration: none;
  color: #fff;
}

.add-movies > h3 > a:hover {
  color: yellow;
  cursor: pointer;
}

.movie-card {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px 50px 40px 50px;
  border-bottom: 1.5px solid #2c2c2c;
  margin: 0 50px 0 50px;
}

/*Left side of cards*/
.poster-container {
  width: 125px;
  height: 175px;
}

.poster-container > img {
  width: 100%;
  height: auto;
}

/*Right side of cards*/
.info-container {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.title-rating-container {
  /*Row 1 of card*/
  display: flex;
  gap: 5px;
  white-space: nowrap;
}

.title-rating-container > h3 {
  /*Movie Title*/
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.title-rating-container > h4 {
  /*Movie Rating*/
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.runtime-genre-container {
  /*Row 2 of card*/
  display: flex;
  gap: 10px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
}

.remove-watchlist {
  display: flex;
  align-items: center;
}

.remove-watchlist:hover {
  color: yellow;
  cursor: pointer;
}

.remove-watchlist > img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.remove-watchlist > h5 {
  vertical-align: middle;
}

.plot {
  /*Row 3 of card*/
  font-size: 14px;
  font-weight: 400;
  color: #a5a5a5;
}
